body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.controls {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
  align-items: center;
}
.controls label {
  display: inline-block;
  margin: 10px;
}
.controls input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

.controls button {
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow, transform 0.2s ease-in;
}
button:hover {
  box-shadow: 3px 5px 9px #b9b9b9;
  transform: translateY(-0.2rem);
}

button:active {
  outline: none;
  border: none;
  transform: scale(0.95);
}

/* media queries */
/* under 850px */

@media screen and (max-width: 53.125em) {
  body {
    padding: 0;
    overflow-x: hidden;
  }
  canvas {
    width: 100vw;
  }
}
